<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>The Mingler</title>
		<link rel="stylesheet" href={{ url_for('static', filename='css/styles.css')}} />
		<!-- <link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
			crossorigin="anonymous"
		/> -->
	</head>
	<body>
		<main>
			<section id="home" class="home">
				<p class="section-title title">The Mingler!</p>

				<div class="card">
					<form action="{{ url_for('join_room') }}" method="POST">
						<div class="joinRoom">
							<input 
								type="text"
								class="codeRoom"
								id="codeRoom"
								name="player_name"
								placeholder="Enter your username"
								required>
							<input
								type="text"
								class="codeRoom"
								id="codeRoom"
								name="codeRoom"
								placeholder="Enter 6-digit code"
								required>
							<input class="enterRoom" type="submit" value="Join Room">
						</div>
					</form>
					or
					<form action="{{ url_for('create_room') }}" method="POST">
						<div class="createRoom">
							<input
								type="text"
								name="player_name"
								placeholder="Enter your username"
								required>
							<input type="submit" class="createRoom" value="Create New Room">
						</div>
					</form>
				</div>
			</section>
		</main>
		<!-- <script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
			integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
			crossorigin="anonymous"
		></script> -->
		<script>
			// function insertName() {
			// 	let codeRoom = document.querySelector(".codeRoom").value;
			// 	if (codeRoom.trim() !== "") {
			// 		let person = prompt("Please enter your name:");
			// 		if (person == null || person == "") {
			// 			// text = "User cancelled the prompt.";
			// 			// Redirect to another page
			// 			window.location.href = "index.html";
			// 		} else {
			// 			window.location.href = "room.html";
			// 		}
			// 	}
			// }
			document.getElementById('joinRoomForm').addEventListener('submit', function(event) {
				event.preventDefault(); // Prevent the form from submitting the traditional way
				var roomCode = this.room_code.value; // Get the room code from the input
				if(roomCode) { // Check if the roomCode is not empty
					window.location.href = '/room/' + roomCode; // Redirect the user to the correct URL
				} else {
					alert('Please enter a room code.'); // Simple validation feedback
				}
			});
		</script>
	</body>
</html>
