<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Mingler</title>
</head>
<body>
    <h1>Welcome to The Mingler</h1>
    <form action="{{ url_for('join_room') }}" method="POST">
        <input type="text" name="player_name" placeholder="Enter your username" required>
        <input type="text" name="room_code" placeholder="Enter 6-digit code" required>
        <input type="submit" value="Join Room">
    </form>
    <form action="{{ url_for('create_room') }}" method="POST">
        <input type="text" name="player_name" placeholder="Enter your username" required>
        <input type="submit" value="Create New Room">
    </form>
</body>
</html>

<script>
    document.getElementById('joinRoomForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the form from submitting the traditional way
        var roomCode = this.room_code.value; // Get the room code from the input
        if(roomCode) { // Check if the roomCode is not empty
            window.location.href = '/room/' + roomCode; // Redirect the user to the correct URL
        } else {
            alert('Please enter a room code.'); // Simple validation feedback
        }
    });
</script>
