<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ice Breaker Room</title>
		<link rel="stylesheet" href="styles.css" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

	</head>
	<body>
		<main>
			<section id="room" class="room">
                <p class="section-title" style="text-align: center">{{ room_code }}</p>


				<div class="content">
					{% for player in players %}
					<div class="card card-black">
						<i class="material-symbols-outlined" style="font-size: 48px;">person</i>
					    <h3>{{ player }}</h3>
					</div>
					{% endfor %}
					<!-- <div class="card card-black">
						<i class="material-symbols-outlined" style="font-size: 48px;">person</i>
					  <h3>Chris</h3>
					</div>
					
					<div class="card card-blood">
						<i class="material-symbols-outlined" style="font-size: 48px;">person</i>

					  <h3>Kiel</h3>
					</div>
					
					<div class="card card-lemon">
						<i class="material-symbols-outlined" style="font-size: 48px;">person</i>

					  <h3>Alvin</h3>
					</div>
					
					<div class="card card-keppel">
						<i class="material-symbols-outlined" style="font-size: 48px;">person</i>

					  <h3>Hanif</h3>
					</div>
					
					<div class="card card-electric-blue">
						<i class="material-symbols-outlined" style="font-size: 48px;">person</i>

					  <h3>Hezki</h3>
					</div>
					
					<div class="card card-blushing-purple">
						<i class="material-symbols-outlined" style="font-size: 48px;">person</i>

					  <h3>Alvin</h3>
					</div>

					<div class="card card-frostbite">
						<i class="material-symbols-outlined" style="font-size: 48px;">person</i>

						<h3>Hanif</h3>
					</div>
					
					<div class="card card-steel-pink	">
						<i class="material-symbols-outlined" style="font-size: 48px;">person</i>

						<h3>Hezki</h3>
					</div> -->
				</div>
				<div class="form-container">
					<!-- <a class="verify" href="#">Generate</a> -->
					<button class="verify" id="generate-button">Generate Text</button>

					<form class="form">
						
						<div class="info">
							<span class="title">Ice Breaker Question :</span>
							<p class="description" id="text-container"></p>
						</div>
						
						<!-- <div class="action-btns">
							<a class="verify" href="#">Verify</a>
							<a class="clear" href="#">Clear</a>
						</div> -->
						
					</form>
				</div>

                <!-- <a href="/" class="generateBtn">Generate</a>
                <p class="generate section-title">Ice Breaker Question</p> -->



			</section>
		</main>
	</body>
</html>
<script>
	document.getElementById("generate-button").addEventListener("click", function() {
		var xhr = new XMLHttpRequest();
		xhr.onreadystatechange = function() {
			if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
				var text = xhr.responseText;
				document.getElementById("text-container").innerText = text;
			}
		};
		xhr.open("POST", "/generate_text", true);
		xhr.send();
	});
</script>